talk_room # index page


<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
<% end %>

<% @talk_rooms.each do |talk_room| %>
	<div>
		<table>
			<td><%= attachment_image_tag talk_room.user, :image, :fill, 60, 60, fallback: "no_image_human.jpeg", size:'60x60' %></td>
			<td><%= talk_room.user.name %></td>
			<td>
				<div>
					<%= link_to "この人とのトークルームに行く", talk_room_path(talk_room.id),class: "btn btn-default  btn-sm" %>
				</div>
			</td>
		</table>
	</div>
<% end %>