<br><br>
<h2>ダイレクトに、気軽に、つながろう（このAppの使い方）</h2>
<br><br>

<div class="about-flex col-sm-12">
	<br>
	<div class="col-sm-4">
		<%= image_tag('connect_human.png', width: '200', height: '200') %>
		<br>
		<h3 class="subheading">気軽につながる</h3>
		<p>お互いに、気になったら積極的にアプローチしよう</p>
	</div>

	<br>
	<div class="col-sm-4">
		<%= image_tag('presentation.png', width: '200', height: '200') %>
		<br>
		<h3 class="subheading">自由度高くPRする</h3>
		<p>形式ばったアプローチだけでなく、オリジナルのカラーを表現しよう</p>
	</div>

	<br>
	<div class="col-sm-4">
		<%= image_tag('handshake.png', width: '200', height: '200') %>
		<br>
		<div class="about-text-box">
			<h3 class="subheading">ジョインする</h3>
			<p>社員だけでなく、フリーランス。</p>
			<p>フルタイムだけでなく、短時間のリモートワーク。</p>
			<p>固定概念にとらわれない働き方で積極的にジョインしよう</p>
		</div>
	</div>
</div>