/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
	background-color: #f7f5f0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-wrapper {
  width: 978px;
}

footer {
	margin-top: auto;
	background-color: #0f1941;
	color: white;
	text-align: center;
}


// ボタン

.secret-btn-right {
  text-align: right;
}

.btn-center {
  text-align: center
}

.standerd_btn_green {
  display: block;
  position: relative;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background: #659679;
  border: solid 0.5px #7AB893;
  border-radius: 5px;
}
.standerd_btn_green:hover {
   opacity:0.8;
   cursor: pointer;
   text-decoration: none;
}

.standerd_btn_blue {
  display: block;
  position: relative;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background: #2175d9;
  border: solid 0.5px #2175d9;
  border-radius: 5px;
}
.standerd_btn_blue:hover {
   opacity:0.8;
   cursor: pointer;
   text-decoration: none;
}


.standerd_btn_dark-blue {
  display: block;
  position: relative;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background: #101941;
  border: solid 0.5px #101941;
  border-radius: 5px;
}
.standerd_btn_dark-blue:hover {
   opacity:0.8;
   cursor: pointer;
   text-decoration: none;
}

.standerd_btn_yellow {
  display: block;
  position: relative;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background: #ffb511;
  border: solid 0.5px #ffb511;
  border-radius: 5px;
}
.standerd_btn_yellow:hover {
   opacity:0.8;
   cursor: pointer;
   text-decoration: none;
}


.standerd_btn_red {
  display: block;
  position: relative;
  padding: 0.7em;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  background: #e74537;
  border: solid 0.5px #e74537;
  border-radius: 5px;
}
.standerd_btn_red:hover {
   opacity:0.8;
   cursor: pointer;
   text-decoration: none;
}

// フォーム

.form-text-title {
  width: 100%;
}

.form-text-area {
  width: 100%;
}

.form-counter {
  text-align: right;
}

// 小見出し
.subheading {
  color: #9DA0A4;
}

.size-adjustment{
  width: 100%;
}

// ラベル
.box1 {
    padding: 1em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #009999;/*文字色*/
    background: #FFF;
    border: solid 4px #009999;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.box2 {
    padding: 1em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #009999;/*文字色*/
    background: #FFF;
    border: solid 4px #009999;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.size-adjustment-box {
    margin: 0; 
    padding: 20px 20px 0 0;
}

