// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-flex {
	display: flex;
}

.image_left {
	float: 40px;
}

.secret-btn-right {
	text-align: right;
}

.btn-center {
	text-align: center;
}

.company-btns {
	margin: 10px 10px 0 0;
}

