// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.home-work-box {
  width: 300px;
}

.home-work-contents {
  width: 300px;

}

.work-image{

}

.right_link{
  text-align: right;
}

// 表示行数指定
.max-5-lines{
  max-width: 350px;
  font-size: 13px;
  word-break: break-all;
 
  /** ５行以上で省略 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  
  /** webkit以外のフォールバック */
  line-height: 20px;
  max-height: calc(24px*5);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.home-btn-flex {
  display: flex;
  justify-content: center;
}

.home-btns {
  margin: 10px 10px 0 0;
}


.about-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

