// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-flex {
	display: flex;
}

.image_left {
	float: 40px;
}

.profile-btn-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-btns {
	margin-top: 10px;
	margin-right: 10px;
}

.text-hide-message{
	text-align: center;
}