// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-users-flex {
	display: flex;
}

.btns {
	margin: 10px 0;
}

.users_btn {
	margin: 0 10px 0 0;
}

.belongs-companay-link {
	text-align: center;
}

