// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex {
	display: flex;
}

.image_left {
	padding-right: 40px;
}


.line {
	margin-top: 20px;
	margin-bottom: 20px;
	border: thin solid #9DA0A4;
}

